body,html{
  height: 100%;
}
li{
  list-style: none;
}
ul{
  margin: 0;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
  color: #606060;
}
label{
  margin: 0;
}
.estate_index_head{
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #00A854;
  color: #fff;
  position: relative;
}
.estate_index_head_icon{
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 18px;
}
.estate_index_time{
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ffe9a7;
}
.estate_index_weui{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  background-color: #FAFAFA;
}
.weui-navbar__item_span{
  display: inline-block;
  width: 15px;
  height: 15px;

  vertical-align: middle;
  margin-right: 3px;
}
.weui-navbar__item_span-back1{
  background: #fff;
  border: 1px solid #999;
}
.weui-navbar__item_span-back2{
  background: #00A854;
}
.weui-navbar__item_span-back3{
  background: #e4e2fa;
}
.weui-navbar__item:after { border: none;}
.weui-navbar__item-nav{
  position: relative;
  display: block;
  padding: 7px 3px;
  text-align: center;
  font-size: 14px;
  white-space:nowrap;

}
.estate_index_weui-nav{
  background: #fff;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  overflow-x: auto;
}
.weui-navbar__item-nav:after{
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #CCCCCC;
  color: #CCCCCC;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.estate_index_background{
  height: 7px;
  background: #999;
  opacity: 0.3;
}
.estate_index_table-wrap{
  overflow: auto;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  margin-top: 7px;
}
.estate_index_table_ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}
.estate_index_table_ul:last-child{
  border-bottom:none;
}
.estate_index_table_ul li{
  border-right: 1px solid #CCCCCC;
  width: 81px;
  height: 50px;
}
.estate_index_table_ul li:first-child{
  border-left: none;

}
.estate_index_table_ul li:last-child{
  border-left: none;
}
.estate_index_table_ul li p{
  padding: 4px 1px;
  margin: 0;
  font-size: 12px;
  white-space:nowrap;
}
.estate_index_background1{
  height: 53px;
  background: #fff;
}
.estate_index_table_ul li span{
  display: inline-block;
  width: 40px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
}

/*房屋详情*/
.house_background_color{
  background: #E7E4E7;
  margin-top: 0;
}
.estate_house_infor{
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 1.47058824em;
  line-height: 1.47058824;
}
.estate_house_name{
  width: 125px;
}
.estate_house_state{
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #999;
  vertical-align: middle;
  margin-right: 6px;
}
.house_background_color1{
  background: #fff;
}
.estate_index_head_icon1{
  position: absolute;
    top: 13px;
    right: 13px;
    font-size: 18px;
}
.weui-tabbar{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  z-index: 500;
  bottom: 0;
  width: 100%;
  background-color: #F7F7FA;
}
.house_alert_title{
  padding: 13px 24px;
  line-height: 1.2;
  text-align: left;
  background: #00A854;
  color: #fff;
}
.house_alert_infor_padding{
  padding: 13px 24px;
}
.estate_house_alert_name{
  color: #BE0000;
}
.weui-skin_android .weui-actionsheet{
  width: 90%;
}
.my_collection_wrap{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 40px;
  line-height: 40px;
}
.my_collection_title{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.my_collection_title1{
  text-indent: 10px;
}
.my_collection_wrap_line{
  border-right: 1px solid #CCCCCC;
}
/*我的收藏*/
.my_collection_weui-flex{
  margin-bottom: 7px;
  position: relative;
}
.my_collection_weui-flex-shadow{

  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0px 3px 5px 3px #ccc;
  -moz-box-shadow: 0px 3px 5px 3px #ccc;
  box-shadow: 0px 3px 5px 3px #ccc

}
.my_collection_address{
  width: 20px;
  height: 120px;
  padding: 20px 0;
  position: absolute;
  top: 0;
  right: 15px;
}
.my_collection_address_fontsize{
  font-size: 26px;
  opacity: 0.8;
  color: red;
}
.my_collection_address p:last-child{
  margin-top: 28px;
}
