body,html{
  height: 100%;
}
li{
  list-style: none;
}
ul{
  margin: 0;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
  color: #606060;
}
a:focus, a:hover{
  text-decoration: none;
}
label{
  margin: 0;
}
.weui-tabbar .weui-bar__item_on .yirengou{
  color: #FFA500;
}

.weui-tabbar .weui-bar__item_on .norengou{
  color: #C75EB0;
}
.estate_index_head{
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #00A854;
  color: #fff;
  position: relative;
}
.estate_index_head a{
  color: #fff;
}
.estate_index_head_icon{
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 18px;
}
.estate_index_time{
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ffe9a7;
}
.estate_index_weui{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.weui-navbar__item_span{
  display: inline-block;
  width: 15px;
  height: 15px;

  vertical-align: middle;
  margin-right: 3px;
}
.weui-navbar__item_span-back{
  border: 1px solid #ccc;
}
.weui-navbar__item_span-back1{
  background: #fff;
}
.weui-navbar__item_span-back2{
  background: #00A854;

}
.weui-navbar__item_span-back2 a{
  color: #fff;
}
.weui-navbar__item_span-back3{
  background: #e4e2fa;
}
.weui-navbar__item:after { border: none;}
.weui-navbar__item-nav{
  position: relative;
  display: block;
  padding: 7px 3px;
  text-align: center;
  font-size: 14px;
  white-space:nowrap;

}
.estate_index_weui-nav{
  background: #fff;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  overflow-x: auto;
}
.weui-navbar__item-nav:after{
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #CCCCCC;
  color: #CCCCCC;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.estate_index_background{
  height: 7px;
  background: #999;
  opacity: 0.3;
}
.estate_index_table-wrap{
  overflow: auto;
  margin-top: 7px;
}
.estate_index_table_ul{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.estate_index_table_ul:first-child li{
  border-top:  1px solid #CCCCCC;
}
.estate_index_table_ul:last-child{
  border-bottom:none;
}
.estate_index_table_ul li{
  border-right: 1px solid #CCCCCC;
  border-bottom:  1px solid #CCCCCC;
  width: 107px;
  height: 50px;
  position: relative;
}
.estate_index_table_ul li:first-child{
  border-left: none;
  width: 40px;
  text-align: center;
}
.estate_index_table_ul li:last-child{
  border-left: none;
}
.estate_index_table_ul li p{
  padding: 4px 1px;
  margin: 0;
  font-size: 12px;
  white-space:nowrap;
}
.estate_index_background1{
  height: 53px;
  background: #fff;
}
.estate_index_table_ul li span{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
}

/*房屋详情*/
.house_background_color{
  background: #E7E4E7;
  margin-top: 0;
}
.estate_house_infor{
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 1.47058824em;
  line-height: 1.47058824;
}
.estate_house_name{
  width: 125px;
}
.estate_house_state{
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #999;
  vertical-align: middle;
  margin-right: 6px;
}
.house_background_color1{
  background: #fff;
}
.estate_index_head_icon1{
  position: absolute;
    top: 13px;
    right: 13px;
    font-size: 18px;
}
.weui-tabbar{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  z-index: 500;
  bottom: 0;
  width: 100%;
  background-color: #F7F7FA;
}
.house_alert_title{
  padding: 13px 24px;
  line-height: 1.2;
  text-align: left;
  background: #00A854;
  color: #fff;
}
.house_alert_infor_padding{
  padding: 13px 24px;
}
.estate_house_alert_name{
  color: #BE0000;
}
.weui-skin_android .weui-actionsheet{
  width: 90%;
}
.my_collection_wrap{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 40px;
  line-height: 40px;
}
.my_collection_title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.my_collection_title1{
  text-indent: 10px;
  width: 60px;
}
.my_collection_wrap_line{
  border-right: 1px solid #CCCCCC;
}
.house_img{
  width: 100%;
}
.house_img_sure{
  height: 32px;
  line-height: 32px;
  background:#ffe9a7;
  color: #000;
  font-size: 16px;
}
/*我的收藏*/
.my_collection_weui-flex{
  margin-bottom: 7px;
  position: relative;
  overflow: hidden;
}
.my_collection_a{
  display: block;
  position: relative;
}
.my_collection__item{
  width: 50%;
}
.my_collection_weui-flex-shadow{

  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0px 3px 5px 3px #ccc;
  -moz-box-shadow: 0px 3px 5px 3px #ccc;
  box-shadow: 0px 3px 5px 3px #ccc

}
.my_collection_address{
  width: 20px;
  height: 120px;
  padding: 20px 0;
  position: absolute;
  top: 0;
  right: 15px;
}
.my_collection_address_fontsize{
  font-size: 26px;
  opacity: 0.8;
  color: red;
}
.my_collection_address p:last-child{
  margin-top: 28px;
}
.index_buile_style{
  background:#55ABDE;
  color:#fff;
}

/*首页收藏数量*/
.collection_number{
  position: absolute;
  top: 3px;
  right: 3px;
  min-width: 18px;
  min-height: 18px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background: red;
  color: #fff;
  font-size: 12px;
}
.collection_number1{
  position: absolute;
  top: 50px;
  right: 15px;
  min-width: 18px;
  min-height: 18px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background: red;
  color: #fff;
  font-size: 12px;
}
#look_map{
  font-size: 14px;
  color: #CC3300;
}
.look_map_icon{
  margin-right: 7px;
}
.weui-form-preview__label{
  color: #333;
}
.house_position{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
}
.xaioqu_map_wrap{

  background: #000;

}
.xaioqu_map_wrap img{
  width: 100%;
}
.xaioqu_map_wrap_img{
  padding-top: 50%;
}
.my_home_word{
  padding: 7px;
  line-height: 40px;
  color: #333;
}
.red{
  color: red;
}
.bottom_background{
  height: 53px;
}
