<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>立即购买</title>
    <link rel="stylesheet" href="css/weui.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/public.css">
</head>
<body>
    <div id="login"></div>
    <script type="text/javascript">

    </script>

    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app/buy_now.js"></script>

    <script type="text/javascript">
    $(function(){

        $("#buy").on('click', function(){
          $("#buy_infor").fadeIn(10);
          $(".weui-mask").on('click', function(){
            $("#buy_infor").fadeOut(10);
          })

          $(".weui-form-preview__btn_default").on('click', function(){
            $("#buy_infor").fadeOut(10);
          })
        });

    });
    </script>

    <script>
      $(function(){
        function run(secs){
          for (var i = 0; i < secs.length; i++) {
            secs = secs--;
          }
          $("#estate_index_time").innerHTML = "距离选房开始还有："+secs;
          if(secs==0){
            $("#estate_index_time").innerHTML = "选房结束";
          }
        }
        window.setInterval(function(){run(30);},1000);
      })
    </script>

</body>
</html>
